/* Inspired by https://bestmotherfucking.website */

/* The max-width delclarations probably need optimized for mobile
 * responsiveness. */

body {
    font: 1.2em;
    margin: 1em auto;
    max-width: 40em;  /* Also see img declaration below. */
}

h1, h2, h3 {
    line-height: 1.2em;
}

.title {
    text-align: center;
}

.defaultFont {
    font-family: ;
}

/* System fonts stacks adapted from and inspired by:
 *   https://systemfontstack.com/
 *
 * Additional guidance taken from Matthew Butterick's Practical Typography:
 *   https://practicaltypography.com/system-fonts.html
 */
.systemSans {
    font-family: -apple-system, BlinkMacSystemFont, "Gill Sans MT", "Gill Sans",
      "Segoe UI", "Helvetica Neue", "Helvetica", "Cantarell", "Ubuntu", "Roboto",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.systemSerif {
    font-family: "Iowan Old Style", "Apple Garamond", "Book Antiqua",
      "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.systemMono {
    font-family: "Menlo", "Consolas", "Monaco", "Liberation Mono",
      "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

footer {
    text-align: right;
}

img {
    max-width: 40em;  /* Also see body max-width declaration above. */
    width: 100%;
    height: auto;
}

@media print {
    body { max-width: none; }
}

@media (prefers-color-scheme: dark) {
    body { 
        color: white;
        background: black;
    }
    a:link {
        color: #9cf; 
    }
    a:hover, a:visited:hover {
        color:#cef
    }
    a:visited {
        color:#c9f
    }
}
