/* Inspired by
 * https://bestmotherfucking.website
 * and
 * https://alanhogan.com/code/modern-html-template
 *
 */

:root {
    --text-color: #222;
    --page-bg-color: white;
    --link-color: #06d;
    --link-visited-color: #91e;
    --link-hovered-color: #21e;
    --table-border-color: #222;
    --table-header-bg-color: lightsteelblue;
    --table-row-odd-bg-color: whitesmoke;
    --toc-link-text-color: whitesmoke;
    --toc-link-bg-color: steelblue;
    --toc-link-hovered-color: darkslategrey;
    --max-width: 32em;
    --print-max-width: 20em;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --page-bg-color: black;
        --link-color: #9cf;
        --link-visited-color: #c9f;
        --link-hovered-color: #cef;
        --table-border-color: whitesmoke;
        --table-header-bg-color: darkslategrey;
        --table-row-odd-bg-color: slategrey;
        --toc-link-text-color: whitesmoke;
        --toc-link-bg-color: steelblue;
        --toc-link-hovered-color: darkslategrey;
        color-scheme: dark;
    }
}

/* TODO: As of April 2024 this media query doesn't seem to have any effect. */
@media print {
    body {
        max-width: var(--print-max-width);
    }
    #toc-link {
        display: none;
    }
}

body {
    color: var(--text-color);
    background: var(--page-bg-color);
    font-size: 1.2em;
    margin: 1em auto;
    padding: 0 .62em;  /* Helpful on mobile. */
    max-width: var(--max-width);
}

h1, h2, h3 {
    line-height: 1.2em;
}

h1 {
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover, a:visited:hover {
    color: var(--link-hovered-color);
}

table {
    border: 2px solid var(--table-border-color);
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--table-border-color);
    padding: 0.2em 0.5em;
}

th {
    background-color: var(--table-header-bg-color);
}

tr:nth-child(odd) {
    background-color: var(--table-row-odd-bg-color);
}

img {
    max-width: var(--max-width);  /* Required here in addition to on <body>. */
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.datestamp, .signature {
    text-align: end;
    font-style: italic;
}


#toc-link {
    /* Floating 'back to top' button adapted from:
     *   https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
     */
    display: block;
    position: fixed;
    bottom: 0.62em;
    right: 0.62em;
    z-index: 99;  /* Keep the button on top of everything else. */
    color: var(--toc-link-text-color);
    background-color: var(--toc-link-bg-color);
    border-radius: 0.62em;
    padding: 0.2em 0.62em;
    opacity: 0.95;
}

#toc-link:hover {
    background-color: var(--toc-link-hovered-color);
}


.defaultFont {
    font-family: ;
}

/* System fonts stacks adapted from and inspired by:
 *   https://systemfontstack.com/
 *
 * Additional guidance taken from Matthew Butterick's Practical Typography:
 *   https://practicaltypography.com/system-fonts.html
 */
.systemUi {
    font-family: system-ui;
}

.systemSans {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Segoe UI",
      "Helvetica Neue", "Helvetica", "Cantarell", "Ubuntu", "Roboto",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.systemSerif {
    font-family: "Iowan Old Style", "Apple Garamond", "Book Antiqua",
      "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.systemMono {
    font-family: "Menlo", "Cascadia Mono", "Consolas", "Monaco", "Liberation Mono",
      "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}


/* Webmaster's choice font, Charter, lazily loaded on-demand.
 * Font is a suggestion from and packaged by Matthew Butterick of
 * https://practicaltypography.com
 */
@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-Italic.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-BoldItalic.woff2') format('woff2');
}

.webmastersChoice {
    font-family: Charter;
}


/* Additional Open Source font, EB Garamond, lazily loaded on-demand. */
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-BoldItalic.woff2') format('woff2');
}

.ebGaramond {
    font-family: 'EB Garamond';
}


/* Additional Open Source font, FiraGO, lazily loaded on-demand. */
@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-BoldItalic.woff2') format('woff2');
}

.firaGo {
    font-family: FiraGO;
}


/* Font from the U.S. Digital Service. */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/PublicSans/PublicSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/PublicSans/PublicSans-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/PublicSans/PublicSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/PublicSans/PublicSans-BoldItalic.woff2') format('woff2');
}

.publicSans {
    font-family: 'Public Sans';
}
