/* Inspired by https://bestmotherfucking.website */

body {
    font-size: 1.2em;
    margin: 1em auto;
    max-width: 36em;  /* Also see img declaration below. */
    padding: 0 .62em;  /* Helpful on mobile. */
}

h1, h2, h3 {
    line-height: 1.2em;
}

h1 {
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 1em;
}

.hidden {
    display: none;
}

footer {
    text-align: right;
}

img {
    max-width: 36em;  /* Also see body max-width declaration above. */
    width: 100%;
    height: auto;
}

@media print {
    body { max-width: none; }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: black;
    }
    a:link {
        color: #9cf;
    }
    a:hover, a:visited:hover {
        color: #cef
    }
    a:visited {
        color: #c9f
    }
}

.defaultFont {
    font-family: ;
}

/* System fonts stacks adapted from and inspired by:
 *   https://systemfontstack.com/
 *
 * Additional guidance taken from Matthew Butterick's Practical Typography:
 *   https://practicaltypography.com/system-fonts.html
 */
.systemUi {
    font-family: system-ui;
}

.systemSans {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Segoe UI",
      "Helvetica Neue", "Helvetica", "Cantarell", "Ubuntu", "Roboto",
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.systemSerif {
    font-family: "Iowan Old Style", "Apple Garamond", "Book Antiqua",
      "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.systemMono {
    font-family: "Menlo", "Cascadia Mono", "Consolas", "Monaco", "Liberation Mono",
      "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}


/* Webmaster's choice font, Charter, lazily loaded on-demand.
 * Font is a suggestion from and packaged by Matthew Butterick of
 * https://practicaltypography.com
 */
@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-Italic.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Charter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/Charter/Charter-BoldItalic.woff2') format('woff2');
}

.webmastersChoice {
    font-family: Charter;
}


/* Additional Open Source font, EB Garamond, lazily loaded on-demand. */
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/EBGaramond/EBGaramond-BoldItalic.woff2') format('woff2');
}

.ebGaramond {
    font-family: 'EB Garamond';
}


/* Additional Open Source font, FiraGO, lazily loaded on-demand. */
@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/FiraGO/FiraGO-BoldItalic.woff2') format('woff2');
}

.firaGo {
    font-family: FiraGO;
}
